<header class="header">
  <nav class="header__nav">
    <ul class="header__list list">
      <li class="header__item">
        <a href="" class="header__link link">Головна</a>
      </li>
      <li class="header__item">
        <a href="" class="header__link link">Послуги</a>
      </li>
      <li class="header__item">
        <a href="" class="header__link link">Замовити</a>
      </li>
      <li class="header__item">
        <a href="" class="header__link link">Контакти</a>
      </li>
    </ul>
  </nav>
</header>
